* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
main {
  display: flex;
  justify-content: center;
}
.container {
  background-color: rgb(103, 14, 187);
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
  padding: 3rem 2rem;
}
.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: rgba(123, 52, 189, 0.985);
  color: inherit;
  font-size: 1.8rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: #ccc;
}
.name {
  grid-column: 1/-1;
}
.text-area {
  grid-column: 1/-1;
}
.btn {
  border: none;
  width: 100%;
  grid-column: 1/-1;
  padding: 0.8rem;
  background-color: aquamarine;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.4s;
}
.btn:hover {
  background-color: rgb(90, 205, 166);
}
